@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;

}

* {
  box-sizing: border-box;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6fb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #00958A;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abadb1;
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #abadb1;
}



  /* .swipe-scroll {
    scrollbar-width: none; 
    Firefox
  }
  
  .swipe-scroll::-webkit-scrollbar {
    display: none; 
    Chrome/Safari
  } */

.insights::-webkit-scrollbar {
  height: 5px;
  width: 2px;
}
.insights::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 10px;
}